doctype
html
    head
        title= "Internet Relay Chat"
    body
        script(src='/jquery.min.js')
        script(src='/socket.io/socket.io.js') 
        script(src='/frontend.js')
        h1 Internet Relay Chat
        #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        .controls
            input#text(style='width:450px; height: 30px; resize:none;' placeholder = "Enter message")
            br
            input#send(type='button', value='Send' hidden)
